<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.bourgain.aozan">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_aozan"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:logo="@mipmap/ic_aozan"
        android:windowSoftInputMode="adjustResize"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListeActivity"></activity>

        <provider
            android:name="me.bourgain.aozan.provider.ProviderAuthentification"
            android:authorities="me.bourgain.aozan.provider.ProviderAuthentification"
            android:exported="true" />
    </application>

</manifest>